* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: white;
  background-color: $body-color;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 1.2rem;
  overflow-y: hidden;
}

h1 {
  font-family: 'Damion', cursive;
  font-size: 6rem;
  width: 100vw;
}

h2 {
  font-family: 'Titan One', cursive;
  text-transform: uppercase;
  font-size: 2.2rem;
  width: 100vw;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 3.8rem;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: url(../images/h2bg.png);
  background-position: center center;
  background-size: contain;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}

::selection {
  background-color: magenta;
  color: yellowgreen;
}

::-webkit-scrollbar {
  display: none;
  width: 0px;
}
