nav {
  z-index: 30000 !important;
  font-size: small;
  height: 55px;
  background-color: #282c33;
  text-transform: uppercase;
  .container {
    #navbarSupportedContent {
      background-color: transparent;
    }
    ul {
      li {
        margin-left: 15px;
      }
    }
  }
}

@media (max-width: 991px) {
  #navbarSupportedContent {
    background-color: #282c33 !important;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
  }
}

.navbar-light .navbar-brand {
  color: $navlinks-color;
  letter-spacing: 2px;
  font-size: 1rem;
  &:focus {
    color: $navlinks-color;
  }
  &:hover {
    color: $navlinks-color;
  }
  img {
    margin-bottom: 3px;
  }
}

@media (max-width: 576px) {
  .navbar-light .navbar-brand {
    font-size: 0.9rem;
  }
}

.navbar-light .navbar-nav .nav-link {
  @extend %transition-5;
  color: $navlinks-color;
  &::after {
    @extend %transition-5;
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: $navlinks-hover;
  }
  &:hover {
    color: $navlinks-hover;
    &::after {
      width: 100%;
    }
  }
}

.navbar-light .navbar-nav .active > .nav-link {
  color: $navlinks-hover;
}

.navbar-light .navbar-toggler {
  outline: none;
}
